/** @format */
$primary-color: #0E185F;
$secondary-color: #2FA4FF;
$success-color:#E8FFC2;
$info-color:#00FFDD;
$warning-color:#FFC947;
$danger-color:hsl(0, 100%, 66%);
$white-color:#FFFFFF;
$black-color:#000000;